**Day 1: Introduction to Python, Installing Python, Running Your First Program**

**Introduction to Python:**
- Python is a high-level programming language known for its simplicity and readability.
- It is widely used for web development, data analysis, artificial intelligence, and more.
- Python uses indentation to define code blocks, promoting clean and organized code.

**Installing Python:**
1. Visit the official Python website: https://www.python.org/
2. Download the latest version of Python for your operating system (Windows, macOS, Linux).
3. Run the installer and follow the installation instructions.
4. During installation, make sure to check the option to add Python to your system PATH, which allows you to run Python from the command line.

**Running Your First Program:**
1. Open a text editor (e.g., Notepad on Windows, TextEdit on macOS) or use an integrated development environment (IDE) like Visual Studio Code, PyCharm, or IDLE.
2. Type the following code:

```python
print("Hello, world!")
```

3. Save the file with a `.py` extension (e.g., `first_program.py`).
4. Open your command prompt (Windows) or terminal (macOS, Linux).
5. Navigate to the directory where you saved the `.py` file using the `cd` command.
6. Run the program by entering: `python first_program.py`
7. You should see the output: `Hello, world!`

**Notes:**
- Python uses the `print()` function to display output to the console.
- The text within double or single quotes is a string literal.
- Make sure to save your Python files with the `.py` extension.
- Indentation is crucial in Python. Use consistent indentation to define code blocks.
- The `python` command followed by the filename runs the Python script.

**Tips:**
- Experiment with changing the text inside the `print()` function to see different outputs.
- Familiarize yourself with the basic syntax and structure of Python code.
- Take time to understand the importance of indentation in Python.
- In subsequent days, you'll explore more about variables, data types, and basic operations.

 Variables, Data Types (Integers, Floats, Strings), Basic Operations

Variables:

Variables are used to store data values in a program.
You can think of them as named containers for holding information.
In Python, variable names are case-sensitive and can consist of letters, numbers, and underscores. They cannot start with a number.

In [1]:
name = "Alice"
age = 25

Data Types:

Python has various built-in data types to represent different kinds of values.
Common data types include integers, floats, and strings.
Integers:

Integers are whole numbers without decimal points.
Examples: -2, 0, 42
Floats:

Floats (floating-point numbers) represent numbers with decimal points.
Examples: 3.14, -0.5, 2.0
Strings:

Strings are sequences of characters enclosed in either single or double quotes.
Examples: "Hello, world!", 'Python'

# Basic Operations:

Python allows you to perform various operations on variables and data types.

Arithmetic Operations:

Addition (+), subtraction (-), multiplication (*), division (/), exponentiation (**), and modulus (%).

In [21]:
num1 = 5
num2 = 10
num3 = num1 + num2
print("sum",num3)

sum 15

In [3]:
num1 = 10
num2 = 7
diff_result = num1 - num2
print("Difference:", diff_result)

Difference: 3

In [4]:
num1 = 4
num2 = 6
prod_result = num1 * num2
print("Product:", prod_result)

Product: 24

In [5]:
num1 = 20
num2 = 4
div_result = num1 / num2
print("Quotient:", div_result)

Quotient: 5.0

In [6]:
num1 = 17
num2 = 5
mod_result = num1 % num2
print("Modulus:", mod_result)

Modulus: 2

In [7]:
base = 2
exponent = 3
exp_result = base ** exponent
print("Exponent:", exp_result)

Exponent: 8

In [8]:
num1 = 15
num2 = 4
floor_div_result = num1 // num2
print("Floor Division:", floor_div_result)

Floor Division: 3

In [23]:
principal = 1000
rate = 0.05
time = 3
comp_interest = principal*(1+rate)**time - principal
print("Compound Interest:", comp_interest)

Compound Interest: 157.62500000000023

In [10]:
nums = [12, 24, 36, 48, 60]
avg = sum(nums) / len(nums)
print("Average:", avg)

Average: 36.0

# Assignment operators

In [11]:
num = 5
num += 1
print("Incremented:", num)

Incremented: 6

In [12]:
num = 8
num -= 2
print("Decremented:", num)

Decremented: 6

In [13]:
num = 3
num *= 4
print("Multiplied:", num)

Multiplied: 12

In [14]:
num = 20
num /= 5
print("Divided:", num)

Divided: 4.0

In [15]:
num = 17
num %= 5
print("Modulus:", num)

Modulus: 2

In [16]:
num = 2
num **= 3
print("Exponentiated:", num)

Exponentiated: 8

In [17]:
num = 15
num //= 4
print("Floor Divided:", num)

Floor Divided: 3

In [18]:
num = 0b101010
num &= 0b110011
print("Bitwise AND:", bin(num))

Bitwise AND: 0b100010

In [19]:
num = 0b101010
num |= 0b110011
print("Bitwise OR:", bin(num))

Bitwise OR: 0b111011

In [20]:
num = 0b101010
num ^= 0b110011
print("Bitwise XOR:", bin(num))

Bitwise XOR: 0b11001

# Comparison operators

In [24]:
num1  = 5
num2 = 10
result = num1 == num2
print("Equle", result)

Equle False

In [25]:
num1 = 7
num2 = 3
result = num1 != num2
print("Not Equal:", result)

Not Equal: True

In [26]:
num1 = 10
num2 = 7
result = num1 > num2
print("Greater than:", result)

Greater than: True

In [27]:
num1 = 4
num2 = 6
result = num1 < num2
print("Less than:", result)

Less than: True

In [28]:
num1 = 15
num2 = 10
result = num1 >= num2
print("Greater than or Equal to:", result)

Greater than or Equal to: True

In [29]:
num1 = 15
num2 = 10
result = num1 >= num2
print("Greater than or Equal to:", result)

Greater than or Equal to: True

In [32]:
str1 = "hello"
str2 = "world"
result = str1 == str2
print("String Comparison:", result)

String Comparison: False

In [33]:
str1 = "hello"
str2 = "world"
result = str1 == str2
print("String Comparison:", result)

String Comparison: False

In [34]:
element = 5
my_list = [3, 5, 7, 9]
result = element in my_list
print("Membership:", result)

Membership: True

In [35]:
element = 4
my_list = [3, 5, 7, 9]
result = element not in my_list
print("Non-Membership:", result)

Non-Membership: True

# Logical operators

In [38]:
x = True
y = False
result = x and y
print("Logical AND:", result)

Logical AND: False

In [39]:
x = True
y = False
result = x or y
print("Logical OR:", result)

Logical OR: True

In [40]:
x = True
result = not x
print("Logical NOT:", result)

Logical NOT: False

In [41]:
x = True
y = False
z = True
result = x and y or z
print("Combined Logical Operators:", result)

Combined Logical Operators: True

In [42]:
num = 5
result = num > 0 and num < 10
print("Short-circuit AND:", result)

Short-circuit AND: True

In [43]:
num = 5
result = num > 0 and num < 10
print("Short-circuit AND:", result)

Short-circuit AND: True

In [44]:
x = True
y = False
z = True
result = (x and y) or (not y and z)
print("Complex Logical Expression:", result)

Complex Logical Expression: True

In [45]:
list1 = [1, 2, 3]
list2 = [3, 4, 5]
result = len(list1) > 2 and len(list2) > 2
print("Logical Operators with Lists:", result)

Logical Operators with Lists: True

In [46]:
str1 = "hello"
str2 = "world"
result = str1 != str2 or len(str1) < 5
print("Logical Operators with Strings:", result)

Logical Operators with Strings: True

In [47]:
num = 8
result = (num > 5 and num < 10) or (num == 20)
print("Combining Logical and Comparison Operators:", result)

Combining Logical and Comparison Operators: True

# Identity operators

In [48]:
x = [1, 2, 3]
y = x
result = x is y
print("Using 'is' operator:", result)

Using 'is' operator: True

In [49]:
x = [1, 2, 3]
y = [1, 2, 3]
result = x is not y
print("Using 'is not' operator:", result)

Using 'is not' operator: True

In [50]:
value = None
result = value is None
print("Comparing with 'is' operator:", result)

Comparing with 'is' operator: True

In [51]:
value = 42
result = value is not None
print("Comparing with 'is not' operator:", result)

Comparing with 'is not' operator: True

In [52]:
a = "hello"
b = "hello"
result = a is b
print("Using 'is' with Immutable Types:", result)

Using 'is' with Immutable Types: True

In [53]:
a = "hello"
b = "world"
result = a is not b
print("Using 'is not' with Immutable Types:", result)

Using 'is not' with Immutable Types: True

In [54]:
num1 = 10
num2 = 10
result = num1 is num2
print("Using 'is' with Numbers:", result)

Using 'is' with Numbers: True

In [55]:
bool1 = True
bool2 = True
result = bool1 is bool2
print("Using 'is' with Booleans:", result)

Using 'is' with Booleans: True

In [56]:
bool1 = False
bool2 = True
result = bool1 is not bool2
print("Using 'is not' with Booleans:", result)

Using 'is not' with Booleans: True

# Membership operators

In [57]:
my_list = [1, 2, 3, 4, 5]
element = 3
result = element in my_list
print("Using 'in' operator with Lists:", result)

Using 'in' operator with Lists: True

In [58]:
my_list = [1, 2, 3, 4, 5]
element = 6
result = element not in my_list
print("Using 'not in' operator with Lists:", result)

Using 'not in' operator with Lists: True

In [59]:
my_string = "hello"
char = "e"
result = char in my_string
print("Using 'in' operator with Strings:", result)

Using 'in' operator with Strings: True

In [60]:
my_string = "hello"
char = "z"
result = char not in my_string
print("Using 'not in' operator with Strings:", result)

Using 'not in' operator with Strings: True

In [61]:
my_set = {1, 2, 3, 4, 5}
element = 3
result = element in my_set
print("Using 'in' operator with Sets:", result)

Using 'in' operator with Sets: True

In [62]:
my_set = {1, 2, 3, 4, 5}
element = 6
result = element not in my_set
print("Using 'not in' operator with Sets:", result)

Using 'not in' operator with Sets: True

In [63]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
key = 'b'
result = key in my_dict
print("Using 'in' operator with Dictionaries (Checking Keys):", result)

Using 'in' operator with Dictionaries (Checking Keys): True

In [64]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
key = 'd'
result = key not in my_dict
print("Using 'not in' operator with Dictionaries (Checking Keys):", result)

Using 'not in' operator with Dictionaries (Checking Keys): True

In [65]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = 2
result = value in my_dict.values()
print("Using 'in' operator with Dictionaries (Checking Values):", result)

Using 'in' operator with Dictionaries (Checking Values): True

In [66]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = 4
result = value not in my_dict.values()
print("Using 'not in' operator with Dictionaries (Checking Values):", result)

Using 'not in' operator with Dictionaries (Checking Values): True

# Bitwise operators

When working with binary numbers, we use the `bin()` function to represent them in binary (base-2) form in Python. When you use the `bin()` function to represent a number in binary, Python prefixes the number with "0b" to indicate that it's a binary number.

In your program:
```python
num1 = 0b1010
num2 = 0b1100
result = num1 & num2
print("Bitwise AND:", bin(result))
```

Here, the value of `num1` is `0b1010`, which in binary representation is `10`, and the value of `num2` is `0b1100`, which in binary is `12`. When you use the bitwise operator `&` between `num1` and `num2`, it performs a bitwise AND operation, resulting in the binary representation `0b1000`, which is `8` in decimal.

Using `bin(result)` allows us to display the appropriate binary representation when printing, so we can see how the bitwise AND operation has been applied to the two numbers.

In [72]:
num1 = 0b1010
num2 = 0b1100
result = num1 & num2
print("Bitwise AND:",bin(result))

Bitwise AND: 0b1000

In [73]:
num1 = 0b1010
num2 = 0b1100
result = num1 | num2
print("Bitwise OR:",bin(result))

Bitwise OR: 0b1110

In [74]:
num1 = 0b1010
num2 = 0b1100
result = num1 ^ num2
print("Bitwise XOR:", bin(result))

Bitwise XOR: 0b110

In [75]:
num = 0b1010
result = ~num
print("Bitwise NOT:", bin(result))

Bitwise NOT: -0b1011

In [76]:
num = 0b1010
shift_amount = 2
result = num << shift_amount
print("Left Shift:", bin(result))

Left Shift: 0b101000

In [77]:
num = 0b1010
shift_amount = 2
result = num >> shift_amount
print("Right Shift:", bin(result))

Right Shift: 0b10

In [78]:
num = 0b1010
bit_position = 1
result = num ^ (1 << bit_position)
print("Toggle a Bit:", bin(result))

Toggle a Bit: 0b1000

In [79]:
num = 0b1010
bit_position = 1
result = num ^ (1 << bit_position)
print("Toggle a Bit:", bin(result))

Toggle a Bit: 0b1000

In [80]:
num = 0b1010
bit_position = 1
result = num & ~(1 << bit_position)
print("Clear a Bit:", bin(result))

Clear a Bit: 0b1000

In [81]:
num = 0b1010
bit_position = 1
bit_is_set = (num & (1 << bit_position)) != 0
print("Check if a Bit is Set:", bit_is_set)

Check if a Bit is Set: True

# Data Types

# 1 String

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

Method:capitalize()

In [82]:
sentence = "hello, world!"
capitalized_sentence = sentence.capitalize()
print(capitalized_sentence)

Hello, world!

In [83]:
word = "PYTHON"
capitalized_word = word.capitalize()
print(capitalized_word)

Python

In [84]:
phrase = "hello to the python world"
capitalized_phrase = phrase.capitalize()
print(capitalized_phrase)

Hello to the python world

In [85]:
text = "version 2.0"
capitalized_text = text.capitalize()
print(capitalized_text)

Version 2.0

In [86]:
input_str = "!important task"
capitalized_str = input_str.capitalize()
print(capitalized_str)

!important task

method:casefold()

In [87]:
string1 = "Hello"
string2 = "hello"
result = string1.casefold() == string2.casefold()
print(result)

True

In [88]:
accented = "résumé"
casefolded = accented.casefold()
print(casefolded)

résumé

In [89]:
input_str = "Welcome to Pythön!"
search_str = "python"
result = search_str.casefold() in input_str.casefold()
print(result)

False

In [90]:
nfc_string = "café"
nfd_string = "cafe\u0301"
result = nfc_string.casefold() == nfd_string.casefold()
print(result)

False

In [91]:
german_words = ["straße", "strasse"]
normalized_words = [word.casefold() for word in german_words]
print(normalized_words)

['strasse', 'strasse']

Method:center()

In [92]:
text = "Hello"
centered_text = text.center(10)
print(centered_text)

  Hello

In [93]:
word = "Python"
centered_word = word.center(15, "*")
print(centered_word)

*****Python****

In [94]:
message = "Important Message"
border = "*" * 30
centered_message = message.center(len(border))
decorated_message = f"{border}\n{centered_message}\n{border}"
print(decorated_message)

******************************
      Important Message
******************************

In [95]:
numbers = "1 22 333 4444 55555"
centered_numbers = numbers.center(20, "0")
print(centered_numbers)

1 22 333 4444 555550

In [96]:
title = "Chapter 1: Introduction"
page_width = 40
centered_title = title.center(page_width)
print(centered_title)

        Chapter 1: Introduction

Method:count()

In [97]:
text = "programming is fun, programming is creative"
substring = "programming"
count = text.count(substring)
print(f"'{substring}' occurs {count} times.")

'programming' occurs 2 times.

In [98]:
sentence = "The quick brown fox jumps over the lazy dog"
character = "o"
count = sentence.count(character)
print(f"'{character}' occurs {count} times.")

'o' occurs 4 times.

In [99]:
text = "Python is a programming language, python is versatile."
substring = "python"
count = text.lower().count(substring)
print(f"'{substring}' (case-insensitive) occurs {count} times.")

'python' (case-insensitive) occurs 2 times.

In [100]:
word = "banana"
substring = "ana"
count = word.count(substring)
print(f"'{substring}' occurs {count} times (overlapping).")

'ana' occurs 1 times (overlapping).

In [101]:
text = "Hello, how are you? How's everything going?"
substring = "How"
start_index = 10
end_index = 35
count = text.count(substring, start_index, end_index)
print(f"'{substring}' occurs {count} times within the specified range.")

'How' occurs 1 times within the specified range.

Method:encode()

In your program, the output `b'Hello, !'` appears because when you use the `encode()` method, it returns a bytes object that represents the string encoded in a specific format. The `b` prefix indicates that the output is a bytes object representing the binary data of the encoded string. This is a common representation for binary data in Python.

In [102]:
text = "Hello, world!"
encoded_text = text.encode()
print(encoded_text)

b'Hello, world!'

In [103]:
text = "Hello, world!"
encoded_text = text.encode("ascii")
print(encoded_text)

b'Hello, world!'

In [104]:
text = "Hello, 世界!"
try:
    encoded_text = text.encode("ascii")
    print(encoded_text)
except UnicodeEncodeError:
    print("Encoding failed due to non-ASCII characters.")

Encoding failed due to non-ASCII characters.

In [105]:
text = "Python编程"
encoded_text = text.encode("utf-8")
encoded_bytes = " ".join([f"{byte:02X}" for byte in encoded_text])
print(encoded_bytes)

50 79 74 68 6F 6E E7 BC 96 E7 A8 8B

In [106]:
text = "Hello, 世界!"
encoded_text = text.encode("ascii", errors="ignore")
print(encoded_text)

b'Hello, !'